body{
    font-family: Calibri;
    background-color:black;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
    input {
      width: 500px;
      padding: 8px;
    }
    .form{
      text-align: center;
    }
    #destacada {
        width: 120px;
        height: 250px;
      }
    #dat{
        padding-top: 10em;
    
    }


    